/* Centering the content */
.account-variant-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0; /* Reset default margin */
    background-color: #f8f9fa; /* Light gray background color */
}

/* Styling for login and register buttons */
.login-or-registeer-button button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #ff8c00; /* Orange color */
    color: white;
    border: none;
    cursor: pointer;
}

/* Styling for container create account */
.container-create-account {
    text-align: center;
    margin-bottom: 20px;
}

.container-create-account h1 {
    font-size: 24px;
    color: #ff8c00; /* Orange color */
}

.container-create-account input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

/* Styling for login account */
.login-account {
    text-align: center;
    margin-bottom: 20px;
}

.login-account h1 {
    font-size: 24px;
    color: #ff8c00; /* Orange color */
}

.login-account button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #ff8c00; /* Orange color */
    color: white;
    border: none;
    cursor: pointer;
}

.login-account input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.login-account p {
    margin-top: 10px;
}

/* Styling for option account container */
.option-account-container {
    text-align: center;
    margin-bottom: 20px;
}

.option-account-container h1 {
    font-size: 24px;
    color: #ff8c00; /* Orange color */
}