@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Overpass", sans-serif; */

/* Текст заголовку */
.text_main{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    font-family: "Overpass", sans-serif;
}

/* Кнопка очищення кошику */
.button-clear__cart-cont{
    position: relative;
    text-align: center;
    padding: 10px 0;
}
.button-clear__cart {
    position: relative;
    overflow: hidden;
    border: none;
    background: none;
    cursor: pointer;
    padding-bottom: 5px;
    font-family: "Overpass", sans-serif;
}
.button-clear__cart::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000; /* Цвет полоски */
    transition: width 0.3s ease; /* Плавная анимация */
}
.button-clear__cart:hover::after {
    width: 100%; /* Размер полоски при наведении */
}







/* налаштування додавання тотал прайса */
/* .cart-cont__total-price{
    max-width: 1444px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-left: auto;
    margin-right: auto;
}

#total_price-cart{
    background-color: #f0f0f0;
   display: flex;
   flex-grow: 1;
   
}  */



/* налаштування карточок в кошику */
#cart-container{
    max-width: 1444px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px; /* проміжок між карточками */
}




/* Оновлені стилі для блоку кошика товарів */
.cart-product {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column; /* Зміна напрямку розташування елементів на вертикальний */
}

/* Стилі для контейнера товарів в кошику */
.cart-in-products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 700px){
    .cart-in-products {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* Стилі для фіксованого контейнера в кошику */
.fixed_container-cart {
    display: flex;
    align-items: center;
}

/* Оновлені стилі для зображення товару в кошику */
.prducts__card__img img {
    width: 100px; /* Задаємо ширину зображення */
    height: auto; /* Автоматична висота, щоб зберегти пропорції */
}

/* Стилі для інформації про товар в кошику */
.products__card-info {
    margin: 10px;
    margin-top: auto;
    margin-bottom: auto;
    
}


/* Стиль тексту */
.size-products-info,
.article-products-info,
.name__products-info{
    padding: 5px;
    font-family: "Overpass", sans-serif;
}
.name__products-info{
    font-size: 17px;
    font-weight: 600;
}
.article-products-info{
    font-size: 15px;
    font-weight: 300;
}
.size-products-info{
    display: flex;
    font-size: 15px;
    font-weight: 400;
}
.size_products-width{
    font-weight: 600;
    margin-left: 5px;
}







/* Оновлені стилі для ціни товару в кошику */
.products-price-cart {
    display: grid;
    margin-top: auto;
    margin-bottom: auto;
    min-width: 90px;
    text-align: center;
    padding: 5px;
}

.products-price-cart p {
    font-size: 16px;
}




/* Стилі для кнопок з кількістю товарів */
.botom_container-cart{
    display: flex;
    flex-grow: 1;
    justify-content: space-between; /* Розмістити кнопки по обох краях контейнера */
    align-items: center; /* Вирівняти елементи по центру вертикально */
    
}

.input-quantity,
.button-minus-quantity,
.button-plus-quantity{
    max-width: 40px;
    border: none;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.button-minus-quantity,
.button-plus-quantity{
    font-size: 25px;
}
.input-quantity{
    font-size: 20px;
}

.quantity-controls {
    display: flex;
    flex-direction: column;
}

.quantity-controls button {
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 5px 5px;
    margin: 5px; /* Відступ між кнопками */
}





/* Стилі для контейнера кнопок в кошику */
.products-button-card{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
.products-button-card img{
    width: 30px;
}

/* Стилі для кнопок видалення товару */
.products-button-card button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px 10px;
}






