/* Додати Roboto до тексту вашого сайту */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Додати Open Sans до тексту вашого сайту */
/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');*/

:root{
    --background-color-filter-option: rgb(235, 235, 235);
    --background-color-filter-full: rgb(226, 226, 226);
}

/* Main */
.content{
    font-family: 'Roboto', sans-serif; /* Используйте шрифт Roboto для всего текста */
    font-size: 16px;

    max-width: 1400px;
    /* min-width: 500px; */
    padding: 40px 20px;
    margin-left: auto;
    margin-right: auto;
}


/* Filter container */
.filter-container{
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* настройте ширину столбцов по вашему усмотрению */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px; /* промежуток между элементами сетки */
    row-gap: 10px;
    min-width: 250px; /* максимальная ширина сетки */
    justify-content: center; /* центрировать по горизонтали */
    padding: 0 5%; /* отступы по бокам - 5% от ширины окна браузера */
}
.filter-container h1{
    font-size: 18px;
    text-align: center;
}
.filter-container select,input{
    min-height: 30px;
    border: none;
    width: 150px;
}
.content-filter-products-all{
    margin-left: auto;
    margin-right: 25%;



}
/* Стилізація Select,input */
.filter-container input{
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    padding-left: 5px;
}
.filter-container select{
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    
}
.filter-container select:after{
    content: "";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-top-color: #555;
}
.filter-container select option{
    padding: 5px 10px;
    cursor: pointer;
}

/* Size products фільтр */
.optionsr-size_products{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-color-filter-option);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
    gap: 10px;
    padding: 10px;
}

/* price products фільтр */
.options-price-products{
    background-color: var(--background-color-filter-option);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
    gap: 10px;
    padding: 10px;
}





/* categori or select products фільтр */
.categori-or-select_products{
    
    background-color: var(--background-color-filter-option);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
    gap: 10px;
    padding: 10px;
}


/* Select-button-products */
.button_filter-products{
    background-color: var(--background-color-filter-option);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    width: 100%;
    gap: 10px;
    padding: 10px;
}
.button_filter-products button{
    height: 100%;
    width: 100%;
    min-height: 30px;
}

@media screen and (max-width: 1460px){
    .filter-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .button_filter-products{
    grid-column-start: 2; /* Начать сетку со второй ячейки */
    grid-column-end: span 1; /* Распространить элемент на одну ячейку */
    }
}


@media screen and (max-width: 1100px){
    .filter-container{
        grid-template-columns: 1fr 1fr;
    }
    .button_filter-products{
        grid-column-start: auto; /* Начать сетку со второй ячейки */
        grid-column-end: span auto; /* Распространить элемент на одну ячейку */
        }
    
}
@media screen and (max-width: 700px){
    .filter-container{
        grid-template-columns: 1fr;
    }
    .content-filter-products-all{
        margin-left: auto;
        margin-right: 25%;
    }
    
}



/* стиль карточок продукта */
