@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Overpass", sans-serif; */


:root{
    /* Стиль на всю карточку продукта */
    --font-family-all-text: "Overpass", sans-serif;;
    /* Стиль назви продукту */
    --font-family-name-product: "PT Sans Narrow", sans-serif;

    
}



/* Налаштування фільтра */
.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Центрує елементи по горизонталі */
    align-items: center; /* Центрує елементи по вертикалі */
}

.filter-option {
}
.options__filter-div{
    flex: 1 1 300px;
    margin-bottom: 20px;
    text-align: center; /* Вирівнює текст по центру */
}

.filter-container button{
    max-width: 300px;
    width: 100%;
    margin-top: 10px;
    text-align: center; /* Вирівнює кнопки по центру */
}


.filter-option h2 {
    margin-bottom: 10px;
}

.filter-content {
    margin-bottom: 10px;
}

.filter-content label {
    margin-right: 10px;
}

.filter-buttons {
    margin-top: 20px;
}

.filter-buttons button {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.filter-buttons button:hover {
    background-color: #45a049;
}

/* Налаштування карточок продукту */
.prducts__card-container__img {
    font-family: var(--font-family-all-text);
    position: relative;
    overflow: hidden; /* Обрезка изображения, выходящего за пределы контейнера */
    width: 100%; /* Ширина контейнера */
    height: 430px; /* Высота контейнера (можете изменить на свое усмотрение) */
}

.prducts__card__img {
    width: 100%; /* Ширина изображения */
    height: 100%; /* Высота изображения */
    object-fit: cover; /* Обрезка и сохранение пропорций */
    transition: transform 0.3s ease; /* Анимация при наведении */
}

.product-card-shop:hover .prducts__card__img {
    transform: scale(1.05); /* Увеличение масштаба при наведении */
}

.products-container_cart {
    max-width: 1344px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 стовпці */
    gap: 5px; /* проміжок між карточками */
}

.product-card-shop img {
    max-width: 100%; /* розтягнути зображення в межах батьківського контейнера */
}
.botom_container_products {
    padding-top: 10px; /* відступ від заголовка до решти вмісту */
}

.botom_container_products h3 {
    margin: 0; /* відсутність зовнішніх відступів для заголовка */
}

.botom_container_products p {
    margin: 5px 0; /* зовнішні відступи для параграфів */
}


.product-card-shop {
    padding: 5px; /* відступ всередині карточки */
    position: relative;
}


/* Іконка лайка */
.saved_products-button{
    position: absolute;
    top: 20px;
    right: 25px;
    width: 30px;
    max-width: 40px;
    z-index: 2;
}
@media screen and (max-width: 700px){
    .saved_products-button{
        width: 28px;
    }
}
@media screen and (max-width: 400px){
    .saved_products-button{
        width: 25px;
    }
}



/* Надпис ціни і скидки*/
.price__products-container{
    display: flex;
    flex-direction: row;
}
.products__discount_price{
    font-size: 18px;
}
.product__price_not_discount{
    font-size: 18px;
}
.product__price_yes_discount{
    font-size: 12px;
}
@media screen and (max-width: 500px){
    .price__products-container{
        display: flex;
        flex-direction: row;
    }
    .products__discount_price{
        font-size: 16px;
    }
    .product__price_not_discount{
        font-size: 16px;
    }
    .product__price_yes_discount{
        font-size: 10px;
    }
}




.discount-per-cent{
    position: absolute;
    font-size: 14px;
    font-weight: 700;
    font-family: var(--font-famili-discount);

    top: 8px;
    left: 12px;
    padding: 5px 10px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}
@media screen and (max-width: 700px){
    .discount-per-cent{
        font-size: 12px;
        font-weight: 700;
    
        top: 8px;
        left: 12px;
        padding: 5px 10px;
    }
}


/* Назва продукту */
.products__name-products{
    font-weight: 600;
    font-family: 'Arial Narrow';
    color: rgb(3, 2, 2);
    font-size: 16px;
}
.price__products-container{
    display: flex;
    margin: 5px 0;
    
}
.product__price_not_discount{
    margin-right: 5px;
    font-weight: 700;
}
.product__price_yes_discount{
    margin-right: 5px;
    font-weight: 500;
    font-size: 18px;
}
.products__discount_price{
    margin-right: 5px;
    font-weight: 700;
}



.product-card-saved{
    margin-top: 10px;
    font-weight: 700;
    font-size: 2px;
}


/* Розмір продукту */
.product-size-products{
    font-family: monospace;
    color: rgb(122, 121, 121);
}

/* Відображення бренду, типу і Деталей */
.products-brand-products{
    display: none;
}
.products-type-products{
    display: none;
}
.products-detail_product{
    display: none;
}


/* Налаштування карточок для різних розмірів екрану */
@media screen and (max-width: 1200px){
    .prducts__card-container__img {
        height: 360px; /* Висота контейнера на екранах шириною до 700px */
    }
}
@media screen and (max-width: 1000px){
    .products-container_cart {
        grid-template-columns: repeat(3, 1fr); /* 3 стовпці на екранах шириною до 1000px */
    }
    .prducts__card-container__img {
        height: 400px; /* Висота контейнера на екранах шириною до 700px */
    }
}
@media screen and (max-width: 800px){
    .prducts__card-container__img {
        height: 350px; /* Висота контейнера на екранах шириною до 700px */
    }
}
@media screen and (max-width: 700px){
    .products-container_cart {
        grid-template-columns: repeat(2, 1fr); /* 2 стовпці на екранах шириною до 700px */
        height: 330px; /* Висота контейнера на екранах шириною до 700px */
    }
    .prducts__card-container__img {
        height: 390px; /* Висота контейнера на екранах шириною до 700px */
    }
}
@media screen and (max-width: 500px){
    .prducts__card-container__img {
        height: 300px; /* Висота контейнера на екранах шириною до 500px */
    }
}
@media screen and (max-width: 400px){
    .prducts__card-container__img {
        height: 240px; /* Висота контейнера на екранах шириною до 400px */
    }
}
@media screen and (max-width: 360px){
    .prducts__card-container__img {
        height: 200px; /* Высота контейнера (можете изменить на свое усмотрение) */
    }
    
    /* Надпис ціни скидки*/
    .products__name-products{
        font-size: 14px;
    }
    .product-size-products{
        font-size: 10px;
    }
    .products__discount_price{
        font-size: 14px;
    }
    .product__price_not_discount{
        font-size: 14px;
    }
    .product__price_yes_discount{
        font-size: 9px;
    }
}

